<link id="fa-stylesheet" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.0.0/css/all.min.css">

<footer class="site-footer h-card">
  <data class="u-url" value="{{ '/' | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="myfooter">
        <div class="myfooter-p">
          <a href="/" title="Home">
          <img src="assets/favicon.svg" border="0" alt="JF Logo" width="100em)">
        </a>
        </div>
        <div class="myfooter-p">
           © 2026 Jonathan Franceschi. All rights reserved

          {%- include social.html -%}

        </div>
      </div>
    </div>  

  </div>

</footer>
