---
layout: base
---

<div class="home">
  
  {{ content }}
  
  <!-- Columns -->

  <div class="homecol">

    <!-- Left column -->
    <div class="left">
      <div class="fil">
        <!-- &nbsp; -->
      </div>
      <!-- <img src="/assets/home-bw.svg" alt="pixel rain" width=100%> -->
      <!-- <img src="/assets/home-image-test.png" alt="pixel rain"> -->
    </div>

    <!-- Right column -->

    <div class="right">
      
      <br></br>
      <br></br>
      <p>I am an Associate Editor at Springer Nature (CSE).</p>
      <p>I have a Ph.D. in Computational Mathematics, and I am specialized in modeling of complex systems, mainly using Kinetic Theory as a framework.<p>

      <br></br>
      <h1>Latest post</h1>

      <!-- Last post -->
      {% if site.paginate %}
        {% assign posts = paginator.posts %}
      {% else %}
        {% assign posts = site.posts %}
      {% endif %}

      {%- if posts.size > 0 -%}
        {%- for post in posts limit:1 -%}
          <!-- <h4> -->
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          <!-- </h4> -->
          {%- if site.minima.show_excerpts -%}
            {{ post.excerpt | markdownify | strip_html }}
          {%- endif -%}
        {%- endfor -%}
      {% endif %}

    <!-- </div> -->



  </div>

